# Compiled kernel modules
*.ko
*.o
*.mod
*.mod.c
*.mod.o

# Build command files
*.cmd
.*.cmd

# Module build files
Module.symvers
modules.order
.Module.symvers.cmd
.modules.order.cmd
.tmp_versions/

# Editor backup files
*~
*.swp
